<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQsu9Eb1hLmwg8ZLnHoEOEdA0f97ak92U</string>
	<key>GCM_SENDER_ID</key>
	<string>470595759886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homealert.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>wireless-project-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wireless-project-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470595759886:ios:9e372f1dfb4943af54315f</string>
</dict>
</plist>